@import "variables";

/*Navbar Styles*/
.dfm-nav-link{
  color: $dfm-third-color!important;
}
#dfm-custom-navbar{
  background-color: $dfm-primary-color;
  font-family: $dfm-primary-font;
  font-size: 2em;
}
#dfm-ccustom-navbar-menu-options{
  margin: auto;
}

/*Hero Styles*/
#dfm-title-hero{
  color: $dfm-primary-color;
  font-family: $dfm-secondary-font!important;
  font-size: 10vw;
}
#dfm-sub-title-hero{
  color: $dfm-secondary-font;
  font-family: $dfm-primary-font!important;
  font-size: 6vw;
}

/*Spacer Style*/
.dfm-spacer-section{
  min-width: 25vw;
  min-height: 25vh;
}
#dfm-spacer-section-with-backgrond-img{
  z-index: 1;
  position: relative;
  top: -20px;
  padding: 0;
  margin: 0;
  min-width: 98vw;
  min-height: 25vh;
}

/*Content type 1 Style*/
#dfm-content-type-1{
  z-index: 2;
  min-width: 98vw;
  background-color: $dfm-secondary-color;
  padding: 0;
  text-align: center;
}
#dfm-content-type-1-title{
  font-family: $dfm-secondary-font!important;
  font-size: 3em;
  color: $dfm-primary-color;
  padding: 2rem;
}
#dfm-content-type-1-paragraph{
  font-family: $dfm-primary-font!important;
  text-align: left;
  font-size: 2em;
  padding: 2rem;
}
#dfm-content-type-2{
  z-index: 2;
  padding: 0;
  min-width: 98vw;
  text-align: center;
  color: $dfm-third-color;
  background-color: $dfm-primary-color;
}